@font-face {
  font-family: "I-pixel-u";
  src: url("../assets/fonts/I-pixel-u.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PressStart2P";
  src: url("../assets/fonts/PressStart2P.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
