@font-face {
  font-family: "deltarune";
  src: url("../assets/fonts/deltarune.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PressStart2P";
  src: url("../assets/fonts/PressStart2P.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
