header {
  background: #802480;
  background: linear-gradient(90deg, rgba(128, 36, 128, 1) 3%, rgba(76, 90, 145, 1) 67%, rgba(65, 217, 199, 1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
}

#nameInfo {
  display: flex;
  flex-direction: row;
}

#name {
  margin: 0;
  margin-left: 8.5rem;
  cursor: default;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
}

#kitty {
  height: 35px;
  width: 35px;
  margin-left: -1.2rem;
  margin-top: 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s ease;
}

#kitty.show {
  opacity: 1;
  transform: translateY(0);
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
    margin-top: 0.5rem;
    margin-right: 8rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
  }
  li {
    a {
      text-decoration: none;
      color: #111827;
    }
  }
}
